/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
body {
  background-color: aqua;
  font-family: nunito, sans-serif;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
#userName {
  size: 1.5;
}
#pic {
  width: 100px;
}
input {
  text-align: center;
}

button {
  background: blue;
  color: white;
  border-radius: 4px;
  font-weight: 20px;
}
